[DEFAULT]

ignoreip = 127.0.0.1/8
bantime = 600
maxretry = 3

destemail = {{ fail2ban_dest_email }}
mta = sendmail
action = %(action_mw)s

[ssh]

enabled  = true
port     = ssh
filter   = sshd
logpath  = /var/log/auth.log
maxretry = 2
